# Install the yfinance module for historical data
yfinance

# Install streamlit for viewing the UI
streamlit

# Pandas package for dataframe processing
pandas

# Requests module for extracting real-time stock news
requests

# Use natural language toolkit for data preprocessing
nltk

# Install sklearn for training the model
scikit-learn

# Install plotly for plotting Date v/s Stock Close prices
plotly